.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: blueviolet;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navbar {
  background-color: rebeccapurple;
  min-width: 100vw;
  color: #fff;
}

.content {
  background-color: #fff;
  color: #000;
  width: 100vw;
  font-size: 0.65em;
  font-family: 'Courier New', Courier, monospace;
  
}

.blogpost {
 margin: 0 7em 4em 7em;
}

.midsection {
  background-color: #61dafb;
  width: 100%;
  height: 10vh;
}